<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="application/json; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Potify - Login</title>
        <script src="/auth.js" ></script>
        <link rel="stylesheet" type="text/css" href="./css/initial.css" />
        <link rel="icon" type="image/x-icon" href="./logo.ico" />
    </head>
    <body>
        <h1>welcome !</h1>
        <section class="profile">
            <button onclick="access();">USE APP</button>
        </section>
        <script id="token" type="text/template"><%= code %></script>
    </body>
</html>